<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title if title else "Image Similarity App" }}</title>
    <!-- Подключение стилей -->
    <link rel="stylesheet" href="/static/assets/css/main.css">
</head>
<body>
    <!-- Логотип и навигация -->
    <header id="header">
        <a href="/" class="logo"><strong>Image Similarity</strong></a>
        <nav>
            <a href="/">Home</a>
            <a href="/stats/">Statistics</a>
        </nav>
    </header>
    <!-- Основной контент -->
    <main id="main">
        {% block content %}{% endblock %}
    </main>
    <!-- Скрипты -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/browser.min.js"></script>
    <script src="/static/assets/js/breakpoints.min.js"></script>
    <script src="/static/assets/js/util.js"></script>
    <script src="/static/assets/js/main.js"></script>
</body>
</html>
